<footer class="page-footer center-align">
    <div class="footer-copyright">
        <div class="container">
        <small>&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script>UofT SCS Coding Bootcamp</small>
        </div>
    </div>
</footer>