<nav>
    <div class="nav-wrapper red lighten-1">
      <a href="/" class="brand-logo center">huMONGOus News Scraper</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href=""></a>&nbsp;</li>
        <li><a href="/index">Home</a></li>
        <li><a href="/articles">Saved Articles</a></li>
        <li><a class="clear-btn waves-effect waves-light btn"><i class="material-icons right">delete</i>Clear Articles</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="">&nbsp;</a></li>
    <li><a href="/index">Home</a></li>
    <li><a href="/articles">Saved Articles</a></li>
    <li><a class="clear-btn waves-effect waves-light btn"><i class="material-icons right">delete</i>Clear Articles</a></li>
  </ul>
