<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>{{title}}</title>

		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Roboto&display=swap" rel="stylesheet">

		<!-- custom css -->
		<link rel="stylesheet" href="/assets/styles/style.css">
	</head>
	<body>

		{{{ body }}}

		<div class="p-5">&nbsp;</div>
		<footer class="footer fixed-bottom py-4 text-white">
			<div class="container text-center">
			<small>&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script>UofT SCS Coding Bootcamp</small>
			</div>
		</footer>








		<script src="/assets/js/article.js"></script>
		<script src="/assets/js/note.js"></script>
	</body>
</html>
