footer{
    position: sticky;
}

.btn-block {
    width: 100%;
}

.brand-logo{
    font-family: 'Montserrat', sans-serif;
}

img {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }